{% extends "base.html" %}

{% block content %}

    <!-- Slider
    ============================================= -->
    <section id="slider" class="slider-element slider-parallax swiper_wrapper min-vh-60 min-vh-md-100 include-header" data-loop="true">

        <div class="slider-inner">
            <div class="swiper-container swiper-parent">
                <div class="swiper-wrapper">
                    <div class="swiper-slide dark">
                        <div class="container">
                            <div class="slider-caption slider-caption-center">
                                <div>
                                    <h2 class="font-primary not" id="picture2">Baby Fun</h2>
                                    <p class="fw-light font-primary d-none d-sm-block" id="picture2">Your Own Pottery And Glass Fusing Art Studio</p>
                                    <a href="{{ url_for ('views.project') }}" class="button button-rounded button-large nott ls0 font-primary">Get Started</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide-bg" style="background-image: url('{{ url_for('static', filename='img/baby/1.jpg') }}');"></div>
                    </div>
                    <div class="swiper-slide dark">
                        <div class="container">
                            <div class="slider-caption slider-caption-center">
                                <div>
                                    <h2 class="font-primary">Baby Fun</h2>
                                    <p class="fw-light font-primary d-none d-sm-block">Your Own Pottery And Glass Fusing Art Studio</p>
                                    <a href="{{ url_for ('views.project') }}" class="button button-rounded button-large nott ls0 font-primary">Get Started</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide-bg" style="background-image: url('{{ url_for('static', filename='img/baby/2.jpg') }}');"></div>
                    </div>
                    <div class="swiper-slide dark">
                        <div class="container">
                            <div class="slider-caption slider-caption-center">
                                <div>
                                    <h2 class="font-primary">Baby Fun</h2>
                                    <p class="fw-light font-primary d-none d-sm-block">Your Own Pottery And Glass Fusing Art Studio</p>
                                    <a href="{{ url_for ('views.project') }}" class="button button-rounded button-large nott ls0 font-primary">Get Started</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide-bg" style="background-image: url('{{ url_for('static', filename='img/baby/4.jpg') }}');"></div>
                    </div>
                </div>
                <!-- Slider Arrows
                ============================================= -->
                <div class="slider-arrow-left" class="bg-transparent"><i class="icon-line-arrow-left"></i></div>
                <div class="slider-arrow-right" class="bg-transparent"><i class="icon-line-arrow-right"></i></div>
            </div>

            <!-- Slider Mouse Icon
            ============================================= -->
            <a href="#" data-scrollto="#content" data-offset="0" class="dark one-page-arrow"><img class="infinite animated fadeInDown" src="{{ url_for('static', filename='demos/business/images/mouse.svg') }}" alt="Image" ></a>
        </div>

    </section>

    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap pb-0" style="z-index: 1;">

            <div class="container topmargin clearfix">

                <!-- What We Do
                ============================================= -->
                <div class="heading-block center border-0" data-heading="B">
                    <h3>It’s Baby Time!</h3>
                </div>
                <div class="row clearfix">
                    <div class="center col-lg-8 offset-lg-2 bottommargin">
                        <h3 class="text-rotater font-secondary" data-separator="," data-rotate="fadeInRight" data-speed="3500">Babies can get involved, too!  Your baby’s handprints and/or footprints on a mug, plate, or platter look so great. The paints are lead-free and non-toxic, so they’re safe for your children. First, we paint their hand and press it down on the piece. If it doesn’t turn out the way you want, we can wash it off and start again!  At six months, you can do another type of project. Hand and/or foot imprints in clay.  This requires a reservation and the pick-up time is longer, but the memory is everlasting.<br>You may serve beverages, including wine or champagne to add to the ambiance of the day or evening. We will work with your catering service and help with the set-up for your special gathering. Call the studio to make a reservation.</h3>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #content end -->

{% endblock %}