{% extends "base.html" %}

{% block content %}

    <!-- Slider
    ============================================= -->
    <section id="slider" class="slider-element slider-parallax swiper_wrapper min-vh-60 min-vh-md-100 include-header" data-loop="true">

        <div class="slider-inner">
            <div class="swiper-container swiper-parent">
                <div class="swiper-wrapper">
                    <div class="swiper-slide dark">
                        <div class="container">
                            <div class="slider-caption slider-caption-center">
                                <div>
                                    <h2 class="font-primary not">Bridal Parties</h2>
                                    <p class="fw-light font-primary d-none d-sm-block">Your Own Pottery And Glass Fusing Art Studio</p>
                                    <a href="{{ url_for ('views.project') }}" class="button button-rounded button-large nott ls0 font-primary">Get Started</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide-bg" style="background-image: url('{{ url_for('static', filename='img/bridal/2.jpg') }}');"></div>
                    </div>
                    <div class="swiper-slide dark">
                        <div class="container">
                            <div class="slider-caption slider-caption-center">
                                <div>
                                    <h2 class="font-primary">Bridal Parties</h2>
                                    <p class="fw-light font-primary d-none d-sm-block">Your Own Pottery And Glass Fusing Art Studio</p>
                                    <a href="{{ url_for ('views.project') }}" class="button button-rounded button-large nott ls0 font-primary">Get Started</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide-bg" style="background-image: url('{{ url_for('static', filename='img/slider/4.jpg') }}');"></div>
                    </div>
                    <div class="swiper-slide dark">
                        <div class="container">
                            <div class="slider-caption slider-caption-center">
                                <div>
                                    <h2 class="font-primary">Bridal Parties</h2>
                                    <p class="fw-light font-primary d-none d-sm-block">Your Own Pottery And Glass Fusing Art Studio</p>
                                    <a href="{{ url_for ('views.project') }}" class="button button-rounded button-large nott ls0 font-primary">Get Started</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide-bg" style="background-image: url('{{ url_for('static', filename='img/slider/2.jpg') }}');"></div>
                    </div>
                </div>
                <!-- Slider Arrows
                ============================================= -->
                <div class="slider-arrow-left" class="bg-transparent"><i class="icon-line-arrow-left"></i></div>
                <div class="slider-arrow-right" class="bg-transparent"><i class="icon-line-arrow-right"></i></div>
            </div>

            <!-- Slider Mouse Icon
            ============================================= -->
            <a href="#" data-scrollto="#content" data-offset="0" class="dark one-page-arrow"><img class="infinite animated fadeInDown" src="{{ url_for('static', filename='demos/business/images/mouse.svg') }}" alt="Image" ></a>
        </div>

    </section>

    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap pb-0" style="z-index: 1;">

            <!-- About Us
            ============================================= -->
            <div class="section p-0 mt-0 bg-transparent clearfix" style="border-top: 1px solid #EEE; border-bottom: 1px solid #EEE;">
                <div class="row align-items-stretch clearfix">
                    <div class="col-lg-6 center col-padding" style="background: url('{{ url_for('static', filename='img/bridal/4.jpg') }}') center center no-repeat; background-size: cover;">
                        <div>&nbsp;</div>
                    </div>

                    <div class="col-lg-6 col-padding">
                        <div>
                            <div style="position: relative;">
                                <div class="heading-block border-0" data-heading="B">
                                    <h3 class="nott ls0">Bridal Parties</h3>
                                </div>
                            </div>

                            <!-- About Us Featured Boxes
                            ============================================= -->
                            <div class="row clearfix">
                                <div class="col-lg-10 col-md-8 bottommargin">
                                    <div class="feature-box fbox-plain">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-et-globe"></i></a>
                                        </div>
                                        <div class="fbox-content">
                                            <h3>For the Bride…</h3>
                                            <p>Invite your group to enjoy a creative bridal shower by painting pottery from a wide variety of items that are unique and distinctive. Have your group all paint a set of dishes using the same colors then the bride will have a personalized set.<br>Some of our most popular items include plates and mugs to create a breakfast or dessert set, cake plates, and unique size platters. Everyday kitchen supplies like a salt and pepper set and spoon rest are also enjoyed. Items that you paint and create will last a lifetime. Best of all, they will be glazed and fired in our kiln, ready for pickup when you return from the honeymoon!</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-8 bottommargin">
                                    <div class="feature-box fbox-plain">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-et-gears"></i></a>
                                        </div>
                                        <div class="fbox-content">
                                            <h3>Bridal Party Gifts</h3>
                                            <p>Paint a unique item for the members of your bridal party. It’s a great way to commemorate the event that is so special for all of you. We have beautiful jewel boxes, picture frames, plaques, and much, much more. You can then tailor each piece to the friend you’re giving it to.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-8">
                                    <div class="feature-box fbox-plain">
                                        <div class="fbox-icon">
                                            <a href="#"><i class="icon-et-document"></i></a>
                                        </div>
                                        <div class="fbox-content">
                                            <h3>Another Wedding Idea!</h3>
                                            <p>Most wedding guests sign a registry book at the time of the Reception.  But what happens after the wedding? We have a terrific alternative. Have your guests sign a platter with our special glaze pencils or paint. It is food safe and will make a very interesting centerpiece on your table. We will have it ready for you one week later.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section><!-- #content end -->

{% endblock %}